/*-- scss:defaults --*/

/*-- scss:rules --*/
body {
  font-family:  Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 0.95em;
  line-height: 1.8em;
  background-color: #faf8f8;
}

form,
input[type="search"],
select[multiple="multiple"] {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
 /*  color: #36454f;*/ 
  font-weight: bold;
}

h1 {
  font-size: 1.6em;
  padding-bottom: 0em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #b3cde0;
}

h2 a {
  border-bottom: none;
}

h3 {
  font-size: 1.1em;
}

h6 {
  font-size: 0.8em;
}

a {
  color: #487191;
  text-decoration: none;
}

.description p{
  padding: 10px;
  border: 2px dashed  gray;
  border-radius: 10px;
  width: fit-content;
  opacity: 0.9;
  margin: 2px;
}

.list_title{
  font-size: 1.6em;
  align-content: center;
}

.listing-categories, .quarto-categories{
  line-height: 1.0em;
}

.important{
  font-size: 2em;
  font-weight: bold;
}

.li-cards {
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 0 0 calc(33.33% - 10px); 
  height: 150px;
  font-weight: bold;
  color: darkred;
  border: 1px dashed orange;
  background-color: lightblue;
  padding: 10px 5px 5px 5px;
  margin-right: 10px;
  margin-bottom: 10px; /* 用于设置块之间的间隔，可以根据需要调整 */
  ul{
    li{
      font-size: 80%;
      color: black;
      font-weight: normal;
      margin-bottom: 0px;
      height: 100px;
      flex: 0 0 100%;
      border: none;
      padding: 5px;
      flex-wrap: wrap;
  }
  }
}

}

.listing-description {
  ul{
    li{
      display: none;
    }
  }
}


.list_title {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }
    
.list_intro {
  font-size: 15px;
  font-weight: normal;
  text-indent: 2em; 
  background-color: #f1faee;
  padding: 10px 15% 10px 15%;
  display: flex;
  justify-content: center;
}